<h1>Employee Profile</h1>

<img src="<%= @employee.img_url  %>" height="200px" />

<h3>Name: <%= @employee %></h3>
<h3>Alias: <%= @employee.alias %></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
