<div class="container" id="log_in_form">
    <h2>Hi Login! </h2>
    <%= form_for :log_in , url: log_in_index_path do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Login" %>
    <% end %>
</div>