<h1>Create a mission</h1>

<%= form_for @mission do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :scientist %>
    <%= f.collection_select :scientist_id, @scientists, :id, :name%>
    <%= f.label :planet %>
    <%= f.collection_select :planet_id, @planets, :id, :name%>
    <%= f.submit %>
<% end %>